[submodule "vendor/ZfcUser"]
	path = vendor/ZfcUser
	url = https://github.com/ZF-Commons/ZfcUser.git
[submodule "vendor/SpeckCatalog"]
	path = vendor/SpeckCatalog
	url = https://github.com/speckcommerce/SpeckCatalog.git
[submodule "vendor/ZfcBase"]
	path = vendor/ZfcBase
	url = https://github.com/ZF-Commons/ZfcBase.git
[submodule "vendor/ZF2"]
	path = vendor/ZF2
	url = https://github.com/zendframework/zf2.git
[submodule "vendor/SpeckCart"]
	path = vendor/SpeckCart
	url = https://github.com/speckcommerce/SpeckCart.git
[submodule "vendor/SpeckAddress"]
	path = vendor/SpeckAddress
	url = https://github.com/speckcommerce/SpeckAddress.git
[submodule "vendor/SpeckUserAddress"]
	path = vendor/SpeckUserAddress
	url = https://github.com/speckcommerce/SpeckUserAddress.git
[submodule "vendor/SpeckUserDashboard"]
	path = vendor/SpeckUserDashboard
	url = https://github.com/speckcommerce/SpeckUserDashboard.git
[submodule "vendor/ZfcAdmin"]
	path = vendor/ZfcAdmin
	url = https://github.com/juriansluiman/ZfcAdmin.git
[submodule "vendor/SpeckCheckout"]
	path = vendor/SpeckCheckout
	url = git://github.com/speckcommerce/SpeckCheckout.git
[submodule "vendor/SpeckContact"]
	path = vendor/SpeckContact
	url = git://github.com/speckcommerce/SpeckContact.git
[submodule "vendor/SpeckMultisite"]
	path = vendor/SpeckMultisite
	url = https://github.com/speckcommerce/SpeckMultisite.git
