<?php
return array('di' => array(
    'instance' => array(
        'orm_connection' => array(
            'parameters' => array(
                'params' => array(
                    'driver'   => 'pdo_mysql',
                    'port'     => '3306', 
                    'host'     => 'CHANGEME',
                    'user'     => 'CHANGEME',
                    'password' => 'CHANGEME',
                    'dbname'   => 'CHANGEME',
                ),
            )
        ),
    )
));
