<?php
/**
 * ./config/autoload/database.local.config.php
 */
 
$mdb = array(
    'dbname' => 'changeme',
    'user'   => 'changeme',
    'pass'   => 'changeme',
    'host'   => 'localhost',
);
 
/**
 * No need to edit below this line
 */
return array(
    'di' => array(
        'instance' => array(
            'alias' => array(
                'masterdb_pdo' => 'PDO',
            ),
            'masterdb_pdo' => array(
                'parameters' => array(
                    'dsn'            => "mysql:dbname={$mdb['dbname']};host={$mdb['host']}",
                    'username'       => $mdb['user'],
                    'passwd'         => $mdb['pass'],
                    'driver_options' => array(PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''),
                ),
            ),
            'Zend\Db\Adapter\Adapter' => array(
                'parameters' => array(
                    'driver' => 'Zend\Db\Adapter\Driver\Pdo\Pdo',
                ),
            ),
            'Zend\Db\Adapter\Driver\Pdo\Pdo' => array(
                'parameters' => array(
                    'connection' => 'Zend\Db\Adapter\Driver\Pdo\Connection',
                ),
            ),
            'Zend\Db\Adapter\Driver\Pdo\Connection' => array(
                'parameters' => array(
                    'connectionInfo' => 'masterdb_pdo',
                ),
            ),
        ),
    ),
);
